<h1>Create User</h1>

<form action="<%=users_url%>" method='post'>
  <label for="username">Username:
    <input type="text" name='user[username]'>
  </label>

  <label for="password">Password:
    <input type="password" name='user[password]'>
  </label>
</form>